@use '/src/assets/styles/vars';

.markdownContainer {
    width: 100%;
    min-height: 100px;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    padding: 10px 15px 15px 15px;
    border-radius: 10px;
}


.test-cases-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    background: #fff;
    padding: 15px 10px;
    border-radius: 10px;
    .p-float-label{
        width: calc(100% - 150px);
        padding-right: 15px;
    }
}

.testCasesDataContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.noTestcasesMessage{
    font-size: 14px;
    color: vars.$fontclr;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testCaseCard{
    border: 1px solid vars.$devider;
    padding: 10px;
    border-radius: 5px;
}

.testCasesTabs{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    .testCaseTab{
        display: flex;
        align-items: center;
        border: 0px;
        padding: 10px 15px;
        font-size: 12px;
        background: #fff;
        font-weight: 600;
        border-radius: 4px;
        color: vars.$titleClr;
        &.active{
            background: vars.$primary-color;
            color: #fff;
        }
    }
}