@use '/src/assets/styles/vars';

body{
    margin: 0px;
    @include vars.fontFamilyPrimary;
}

h1,h2,h3,h4,h5,h6{
  @include vars.fontFamilySecondary;
}

.mt-0{
  margin-top: 0px !important;
}
.mb-0{
  margin-bottom: 0px !important;
}
.mt-10{
  margin-top: 10px;
}
.mb-10{
  margin-bottom: 10px;
}
.ml-10{
  margin-left: 10px;
}
.mr-10{
  margin-right: 10px;
}

.mt-15{
  margin-top: 15px;
}
.mb-15{
  margin-bottom: 15px;
}
.ml-15{
  margin-left: 15px;
}
.mr-15{
  margin-right: 15px;
}

.mt-20{
  margin-top: 20px;
}
.mb-20{
  margin-bottom: 20px;
}
.ml-20{
  margin-left: 20px;
}
.mr-20{
  margin-right: 20px;
}

.mt-30{
  margin-top: 30px;
}
.mb-30{
  margin-bottom: 30px;
}
.ml-30{
  margin-left: 30px;
}
.mr-30{
  margin-right: 30px;
}
.pb-0{
  padding-bottom: 0px !important;
}
.pb-10{
  padding-bottom: 10px !important;
}

.pt-15{
  padding-top: 15px !important;
}

.position-relative{
  position: relative;
}

input::placeholder{
  color: vars.$fontclr;
  opacity: 0.8;
}

input::-ms-input-placeholder { 
  color: vars.$fontclr;
  opacity: 0.8;
}


.p-float-label input:focus~label,
.p-float-label input.p-filled~label,
.p-float-label textarea:focus~label,
.p-float-label textarea.p-filled~label,
.p-float-label .p-inputwrapper-focus~label,
.p-float-label .p-inputwrapper-filled~label {
  margin-top: 4px !important;
  color: vars.$primary-color;
  background: #fff;
  padding: 1px 5px;
  font-size: 12px
}

.wrapper .p-float-label .input:-webkit-autofill~label {
  top: -20px;
  font-size: 12px
}

.breadcrumb{
    list-style:none;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    .icon{
      font-size: 14px;
    }
    
    li{
      float:left;
      .btn{
        color: vars.$titleClrLight;
        display:block;
        background: vars.$breadcrumb-bg;
        text-decoration: none;
        position:relative;
        height: 21px;
        line-height:21px;
        padding: 0 10px 0 5px;
        text-align: center;
        margin-right: 23px;
        font-size: 12px;
        font-weight: 500;
        text-transform: capitalize;
        @include vars.fontFamilySecondary;
        border: 0px;
        cursor: pointer;
        &.home{
          padding: 0 2px;
          display: flex;
          align-items: center;
          i{
            font-size: 19px;
          }
        }
      }
      .btn[disabled]{
        opacity: 1;
        cursor:default;
        //cursor:not-allowed;
        &:hover{
            color: #555;
            background-color: vars.$breadcrumb-bg;
            &:before{
              border-color: vars.$breadcrumb-bg;
              border-left-color:transparent;
             }
            &:after{
              border-left-color: vars.$breadcrumb-bg;
            }
          }
      }
    //   &:nth-child(even){
    //     a{
    //       background-color: #ddd;
          
    //       &:before{
    //         border-color:#ddd;
    //         border-left-color:transparent;
    //        }
    //       &:after{
    //         border-left-color:#ddd;
    //       }
    //     }
    //   }
      &:first-child{
        .btn{
          //padding-left:15px;
          border-radius: 4px 0 0 4px;
          &:before{
            border:none;
           }
        }
      }
      &:last-child{
        .btn{
            color: vars.$primary-color;
            &:hover{
                color: vars.$primary-color;
            }
        //   padding-right:15px;
        //   border-radius: 0 4px 4px 0;
        //   &:after{
        //     border:none;
        //    }
        }
      }
      
      .btn{   
        &:before,
        &:after{
          content: "";
          position:absolute;
          top: 0;
          border:0 solid vars.$breadcrumb-bg;
          border-width:11px 10px;
          width: 0;
          height: 0;
        }
        &:before{
          left:-19px;
          border-left-color:transparent;
        }
        &:after{
          left:100%;
          border-color:transparent;
          border-left-color:vars.$breadcrumb-bg;
        }
        &:hover{
          color: #fff;
          background-color: vars.$primary-color;
          
          &:before{
            border-color:vars.$primary-color;
            border-left-color:transparent;
           }
          &:after{
            border-left-color:vars.$primary-color;
          }
        }
        &:active{
          background-color: #0076eb;
          
          &:before{
            border-color:#0076eb;
            border-left-color:transparent;
           }
          &:after{
            border-left-color:#0076eb;
          }
        }
      }
    }
  }


  .table-title-with-search,
  .header-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .right-section{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 70%;
        .btn{
          margin-left: 10px;
        }
    }
    .title{
        font-weight: 600;
        font-size: 14px;
        color: vars.$titleClr;
        @include vars.fontFamilySecondary;
    }
    .table-tabs{
        .tab{
            background: #fff;
            margin-right: 10px;
            border-radius: 4px;
            color: #000444;
            font-size: 14px;
            font-weight: 400;
            &.active{
                background: vars.$primary-color;
                color: #fff;                            
            }
        }
    }
    .search-box{
        width: 50%;
        position: relative;
        .pi-search{
            font-size: 15px;
            position: absolute;
            top: 8px;
            left: 10px;
            color: vars.$fontclr;
        }
        input{
            border-radius: 20px;
            height: 31px;
            padding-left: 31px;
            font-size: 12px;
            border: 1px solid vars.$cardBorderColor;
            width: 100%;
            &:focus{
                border: 1px solid vars.$primary-color;
                outline: 0px;
                box-shadow: none;
            }
        }
    }
    .header-right-section {
        display: flex;
        align-items: center;
        &.has-xl-searchbar {
          width: 50%;
          .search-box {
            width: calc(100% - 50px);
            input {
              width: 100%;
              &::-webkit-input-placeholder {
                color: var(--fontclr);
                font-size: 12px;
                opacity: 0.7;
              }
              &:-ms-input-placeholder {
                color: var(--fontclr);
                font-size: 12px;
                opacity: 0.7;
              }
              &::placeholder {
                color: var(--fontclr);
                font-size: 12px;
                opacity: 0.7;
              }
            }
          }
        }
      }
}


  .table-container{
    background: transparent;
    border-bottom: 1px solid vars.$cardBorderColor;
    //border: 1px solid vars.$cardBorderColor;
    border-radius: 4px;
    p-table{
        width: 100%;
    }
    .selectableTable{
        .p-datatable{
            .p-datatable-tbody{
                tr{
                    cursor: pointer;
                    &.active{
                        background: vars.$primary-color;
                        td{
                            color: #fff;
                            .td-menu-btn{
                              &:hover{
                                background: vars.$primary-dark;
                              }
                              .icon{
                                color: #fff;
                              }
                            }
                        }   
                        &:hover {
                            background: vars.$primary-color !important;
                        }                     
                    }
                    &:hover {
                        //background: rgba(62, 100, 245, 0.05);
                        background: vars.$primary-color !important;
                        td{
                            color: #fff;
                            .td-menu-btn{
                              &:hover{
                                background: vars.$primary-dark;
                              }
                              .icon{
                                color: #fff;
                              }
                            }
                        }  
                    }
                }
            }
        }
        &.noHover{
            .p-datatable{
                .p-datatable-tbody{
                    tr{
                        cursor:default;                        
                        &:hover {
                            background: rgba(255, 255, 255, 1);
                        }
                    }
                }
            }
        }        
    }
    .p-datatable {
        .p-datatable-header{
            background: transparent;
            padding: 5px;
            border-top: 0px;
            border-bottom: 1px solid vars.$cardBorderColor;
            
        }
        
        .p-datatable-scrollable-header-box{
            background: #f6f6f6;
        }
        .p-datatable-scrollable-body{
            padding-right: 10px;
            padding-left: 10px;
        }
        .p-datatable-thead {
            padding-right: 10px;
            //padding-left: 10px;
            tr > th {
                text-align: left;
                padding: 10px 15px 10px 15px;
                border: 0px;
                font-weight: 500;
                color: vars.$th-color;
                font-size: 11px;
                text-transform: uppercase;
                background: vars.$body-bg;
                @include vars.fontFamilySecondary;
            }
        } 
        &.p-datatable-hoverable-rows .p-datatable-tbody > tr[ng-reflect-p-selectable-row-disabled="false"]:not(.p-highlight):hover {
            background: rgba(62, 100, 245, 0.05);
        }
        
        .p-datatable-tbody > tr:not(.p-highlight):focus {
            background-color: #fff;
        }
        .p-datatable-tbody {
            padding-right: 10px;
            //border-bottom: 1px solid vars.$cardBorderColor;
            //padding-left: 10px;
            tr {
                // border-width: 8px 0 8px 0;
                // border-color: #f6f6f6;
                // border-style: solid;
                background: #fff;
                border-bottom: 10px solid vars.$body-bg;
                &.expantionPanel{
                  //border-bottom: 10px solid #f00;
                  background: vars.$body-bg-dark;
                  position: relative;
                  &::before{
                    content: '';
                    position: absolute;
                    top: -9px;
                    left: 11px;
                    width: 0px;
                    height: 0px;
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    border-bottom: 10px solid vars.$body-bg-dark;
                  }
                  &::after{
                    content: '';
                    width: 100%;
                    height: 10px;
                    background: vars.$body-bg;
                    position: absolute;
                    left: 0;
                    bottom: -10px;
                  }
                  .expantionPanel-tableData{
                    padding: 0px 10px 0px 20px;
                    &::before, &::after{
                      display: none;
                    }
                    .table-container .p-datatable .p-datatable-header .table-title-with-search .title{
                      color: vars.$primary-color;
                      .count{
                        background: vars.$primary-color;
                      }
                    }
                    .table-container .p-datatable .p-datatable-thead tr > th{
                      background: vars.$body-bg-dark;
                    }
                    .table-container .p-datatable .p-datatable-tbody tr{
                      border-bottom: 10px solid vars.$body-bg-dark;
                      td {
                        border-bottom: 10px solid vars.$body-bg-dark !important;
                        text-transform: capitalize;
                        &:first-child{
                          &::before{
                              box-shadow: -5px -5px 0 0 vars.$body-bg-dark;
                          }
                          &::after{
                              box-shadow: -5px 5px 0 0 vars.$body-bg-dark;
                          }
                      }
                      &:last-child{                          
                          &::before{
                              box-shadow: 5px -5px 0 0 vars.$body-bg-dark;
                          }
                          &::after{
                              box-shadow: 5px 5px 0 0 vars.$body-bg-dark;
                          }
                      }
                      }
                    }
                  }
                  
                  &:hover{
                    background: vars.$body-bg-dark !important;
                    cursor: default;
                    td{
                      color: vars.$td-color;
                      .td-menu-btn{
                        .icon{
                          color: vars.$secondary-color;
                        }
                      }
                      table{
                        tr:hover{
                          td{
                            color: #fff;
                            .td-menu-btn{
                              .icon{
                                color: #fff;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
                td{
                    border-bottom: 10px solid vars.$body-bg !important;
                }
                &.p-highlight{
                    background: rgba(62, 100, 245, 0.1);
                    .square-box-outline{
                        border: 1px solid #afb8fb;
                        //color: #3e64f5;
                        &::before{
                            content: "\f00e";
                            position: absolute;
                            top: -4px;
                            right: -6px;
                        }
                    }
                    td{
                        //color: #3e64f5;
                    }
                }
                &.p-selectable-row:not(.p-highlight) {
                    &.limitExceeded {
                        pointer-events: none;
                        cursor: default;
                        text-decoration: none;
                        td {
                            background: #fff8f8;
                        }
                        .square-box-outline {
                            opacity: 0;
                        }
                        &:hover{
                            td{
                                .limit-error{
                                    display: block;
                                }
                            }                            
                        }
                    }
                }
                &:focus {
                    outline: 0;
                    outline-offset: 0;
                }
                &[ng-reflect-p-selectable-row-disabled="true"] {
                    //opacity: 0.6;
                    background: rgba(255,255,255,0.2);
                    cursor: default;
                    .square-box-outline{
                        opacity: 0;
                    }
                    td{
                        color: rgba(114, 134, 162, 0.6);
                        .count-box{
                            color: rgba(114, 134, 162, 0.6);
                            background: #f0f0f0;
                        }
                    }
                    &:not(.p-highlight):hover{
                        background: rgba(255,255,255,0.2);
                    }
                    &:hover{
                        background: rgba(255,255,255,0.2);
                        // td{
                        //     background: #f5f8fa;
                        // }
                    }
                }
                td {
                    text-align: left;
                    border: 0px;
                    padding: 10px 15px;
                    font-size: 13px;
                    color: vars.$td-color;
                    text-transform: capitalize;
                    &.td-clr-primary{
                      color: vars.$primary-color;
                    }
                    &.tb-bold{
                      font-weight: 600;
                    }
                    // box-shadow: 2px 2px 5px 2px rgba(0,0,0,1);
                    position: relative;
                    &.count-td{
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                    }
                    .limit-error {
                        display: none;
                        position: absolute;
                        background: #f00;
                        padding: 3px 10px;
                        border-radius: 2px;
                        color: #fff;
                        left: 16px;
                        top: 14px;
                        width: 350px;
                        z-index: 2;
                    }
                    &:first-child{
                        &::before, 
                        &::after{
                            content: "";
                            display: block;
                            width: 12px;
                            height: 12px;
                            position: absolute;
                            border-radius: 50%;
                        }
                        &::before{
                            top: 0;
                            left: 0;
                            box-shadow: -5px -5px 0 0 vars.$body-bg;
                        }
                        &::after{
                            bottom: 0;
                            left: 0;
                            box-shadow: -5px 5px 0 0 vars.$body-bg;
                        }
                    }
                    &:last-child{
                        &::before, 
                        &::after{
                            content: "";
                            display: block;
                            width: 12px;
                            height: 12px;
                            position: absolute;
                            border-radius: 50%;
                        }
                        &::before{
                            top: 0;
                            right: 0;
                            box-shadow: 5px -5px 0 0 vars.$body-bg;
                        }
                        &::after{
                            bottom: 0;
                            right: 0;
                            box-shadow: 5px 5px 0 0 vars.$body-bg;
                        }
                    }
                    .count-box{
                        background: vars.$primary-color;
                        color: #fff;
                        //width: 20px;
                        padding: 0px 5px;
                        height: 20px;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 4px;
                        font-weight: 400;
                    }
                    .square-box-outline{
                        border: 1px solid #ddd;
                        border-radius: 4px;
                        width: 16px;
                        height: 16px;
                        position: relative;
                        font-size: 19px;
                    }
                }
            } 
        } 
    }
}

.page-content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content-loader {
  display: flex;
  margin: 30px 0px;
  align-items: center;
  justify-content: flex-start;
  i{
    font-size: 24px;
    opacity: 1;
    color: vars.$primary-color;
  }
  span {
    margin-left: 10px;
    font-size: 14px;
    color: vars.$fontclr;
  }
}

.main-title{
  font-size: 16px;
  color: vars.$titleClr;
  //color: vars.$titleClrLight;
  font-weight: 600;
  margin-top: 20px;
}

.td-uppercase{
  text-transform: uppercase !important;
}


.page-container-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid vars.$devider;
  padding-bottom: 10px;
  .title-section{
    display: flex;
    align-items: center;
    .backBtn{
      width: 30px;
      height: 30px;
      border-radius: 4px;
      margin-right: 15px;
      border: 0px;
      display: flex;
      align-items: center;
      justify-content: center; 
      background: vars.$primary-color;
      box-shadow: 2px 5px 15px rgb(91 84 187 / 59%);
      cursor: pointer;
      span{
        font-size: 20px;
        color: #fff;
      }
      &[disabled]{
        opacity: 0.5;
        cursor:default;
      }
    }
    .title-container{
      display: flex;
      flex-direction: column;
    }
    .title{
      margin: 0px;
      font-size: 18px;
      color: vars.$secondary-color;
    }
    .sub-title{
      margin: 3px 0 0 0;
      font-size: 12px;
      span{
        margin-right: 5px;
        color: vars.$primary-color;
        i{
          color: #c9c9c9;
          font-size: 12px;
        }
      }
    }
  }
  // .header-right-section{
    
  // }
}

.btn-primary{
  border: 0px;
  padding: 10px 15px;
  background: vars.$primary-color;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

.markdownContainer{
  markdown{
    margin: 0px;
    font-size: smaller;
    color: vars.$fontclr;
    font-size: 12px;
    @include vars.fontFamilyPrimary;
    h1,h2,h3,h4,h5,h6{
      @include vars.fontFamilySecondary;
      font-weight: 600;
      color: vars.$secondary-color;
    }
    h1{
      font-size: 14px;
      color: vars.$primary-color;
    }
    :not(pre) > code[class*="language-"], pre[class*="language-"]{
      background: vars.$secondary-color;
    }
  }
}

.p-float-label.primeNgField{
  .multiSelectField{
    
  }
  .p-multiselect{
    width: 100%;
    border-radius: 30px;
    border: 1px solid vars.$fieldBorderColor;
    .p-multiselect-label{
      padding: 10px 15px;
      .p-multiselect-token{
        padding: 2px 10px;
        border-radius: 30px;
        font-size: 13px;
        margin: 5px 0px;
        background: vars.$primary-color;
        color: #fff;
      }
    }
    .p-multiselect-trigger{
      font-size: 13px;
    }
  }
  label{
    font-size: 13px;
    left: 20px;
    top: 23px;
  }
}

.count{
  display: inline-block;
  background: vars.$primary-color;
  color: #fff;
  padding: 2px 10px;
  border-radius: 30px;
  font-size: 12px;
  margin-left: 5px;
}

.primary-btn{
  border: 0px;
  background: vars.$primary-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  border-radius: 30px;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  height: 30px;
  box-shadow: vars.$primary-box-shoadow;
  &.submitBtn{
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 5px 15px;
  }
  .icon{
    font-size: 21px;
    margin-right: 5px;
  }
  &[disabled]{
    opacity: 0.7;
    box-shadow: none;
    cursor:default;
  }
}

.secondary-btn{
  border: 0px;
  background: vars.$secondary-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  border-radius: 30px;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  height: 30px;
  .icon{
    font-size: 21px;
    margin-right: 5px;
  }
}

.pageActions{
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .primary-btn, .secondary-btn{
    font-size: 12px;
    text-transform: uppercase;
  }
  .btn{
    margin-left: 10px;
  }
}

.btn{
  cursor: pointer;
}

.td-menu-btn{
  cursor: pointer;
  border: 0px;
  min-height: 10px;
  background: transparent;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  .icon{
    font-size: 21px;
    color: vars.$secondary-color;
  }
}

.card{
  background: #fff;
  border-radius: 5px;
  padding: 20px 15px 20px 15px;
  .card-actions{
    padding-top: 10px;
    display: flex;
    align-items:center;
    justify-content: flex-end;
  }
}

.form-container{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  &.display-column{
    flex-direction: column;
  }
  &.col4{
    .field{
      max-width: calc(25% - 10px);
    }
  }
  .field{
    flex-grow: 1;
    min-width: 20%;
    .p-calendar,
    .p-password{
      width: 100%;
    }
    .p-disabled, 
    .p-component:disabled {
      opacity: 0.5;
      ~label{
        opacity: 0.5;
      }
    }
    input{
      width: 100%;
      border-radius: 30px;
      padding: 5px 20px;
      font-size: 13px;
      height: 40px;
      color: vars.$fontclr;
      &:focus,
      &:not(disabled):hover {
        box-shadow: none;
        outline: 0px;
        border-color: vars.$primary-color;
      }
    }
    .p-dropdown{
      width: 100%;
      border-radius: 30px;
      padding: 5px 20px;
      font-size: 13px;
      height: 40px;
      color: vars.$fontclr;
      .p-dropdown-trigger{
        width: 10px;
        .pi{
          font-size: 11px;
          color: vars.$fontclr;
        }
      }
      .p-inputtext.p-placeholder{
        padding: 7px 5px 0px;
        font-size: 13px;
        color: vars.$fontclr;
      }
      .p-dropdown-label {
        padding: 5px 5px;
        font-size: 13px;
        color: vars.$fontclr;
      }
      &:not(.p-disabled).p-focus {
        box-shadow: none !important;
        outline: 0px;
        border-color: vars.$primary-color;
      }
      &:not(.p-disabled).p-focus,
      &:not(.p-disabled):hover {
        border-color: vars.$primary-color;
      }
      &:not(.p-disabled):hover ~ .icon {
        color: vars.$primary-color;
      }  
    }
    label{
      font-size: 13px;
      top: 22px;
      left: 20px;
      color: vars.$fontclr;
      .star{
        color: vars.$error;
      }
    }
  }
  .field-checkbox{
    label{
      font-size: 13px;
      margin-left: 5px;
      color: vars.$fontclr;
      font-weight: 500;
    }
  }
  .p-checkbox .p-checkbox-box.p-highlight{
    border-color: vars.$primary-color;
    background: vars.$primary-color;
  }
  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
    box-shadow: none;
    border-color: vars.$primary-color;
  }
  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    border-color: vars.$primary-color;;
    background: vars.$primary-color;;
    color: #ffffff;
  }
}

.end-row{
  width: 100%;
}

.p-sidebar{
  .p-sidebar-header{
    @include vars.fontRobotoCondensed;
    color: vars.$secondary-color;
    font-weight: 600;
  }
}

.sidebar-section{
  .p-sidebar{
    .p-sidebar-content{
      padding: 0px;
      //background: vars.$body-bg;
      height: calc(100vh - 172px);
      overflow-y: auto;
      .table-container{
        padding: 1.25rem;
      }
    }
  }  
}

.expantionTable{
  .tdFirstCol{
    padding: 0px !important;
    width: 0px !important;
    min-width: 0px !important;
    max-width: 0px !important;
  }
}


.header-with-btns{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .right-section{
    display: flex;
    gap: 10px;
  }
}

.sidepanelContainer{
  display: flex;
  gap: 15px;
  &.showSidePanel{
    .mainContainer{
      width: calc(100% - 400px);
    }
  }
  .mainContainer {
    width: 100%;
  }
  .sideBarContainer {
    width: 400px;
    position: relative;
    .sideBar{
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      width: 400px;
      background: #fff;
      .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        .title{
          font-size: 12px;
        }
        .closeBtn{
          border: 0px;
          background: transparent;
          padding: 10px;
          font-size: 21px;
          color: vars.$titleClr;
        }
      }
    }
  }
}

.custom-nav-tabs-container{
  .p-tabview{
    .p-tabview-nav-container{
      display: none;
    }
    .p-tabview-panels{
      background: transparent;
      padding: 0px;
    }
  }
}

.custom-nav-tabs-header{
  padding-top: 15px;
  .nav-tabs-container{
    margin-bottom: 10px;
    .nav-tab{
      border: 0px;
      border-radius: 30px;
      padding: 10px 15px;
      margin-right: 10px;
      font-size: 11px;
      font-weight: 600;
      background: #fff;
      color: vars.$titleClr;
      &.active{
        background: vars.$primary-color;
        box-shadow: vars.$primary-box-shoadow;
        color: #fff;
      }
    }
  }
}

.clr-primary{
  color: vars.$primary-color;
}

.noData{
  padding: 20px;
  font-size: 14px;
  color: vars.$fontclr;
}

.testConformationDialog{
  .p-dialog{
    width: 30%;
    min-height: 50vh;
  }
  
}

.field-checkbox{
  margin-bottom: 10px;
  label{
    color: vars.$fontclr;
    font-size: 12px;
    text-transform: capitalize;
  }
  p-checkbox{
    margin-right: 5px;
    .p-checkbox {
      width: 20px;
      height: 20px;
      .p-checkbox-box {
        width: 20px;
        height: 20px;
        .p-checkbox-icon {
          font-size: 11px;
        }
      }
    }
    .p-checkbox .p-checkbox-box.p-highlight {
      border-color: vars.$primary-color;
      background: vars.$primary-color;
    }
    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
      border-color: vars.$primary-color;
    }
    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
      outline: 0 none;
      outline-offset: 0;
      box-shadow: none;
      border-color: vars.$primary-color;
    }
    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
      border-color: vars.$primary-color;
      background: vars.$primary-color;
      color: #ffffff;
    }
  }
}

.form-control{
  .p-password{
    width: 100%;
    .p-inputtext{
      width: 100%;
    }
  }
}

.categoryDetails {
  .product-details-section{
    background: #fff;
    padding: 20px 15px 15px;
    border-radius: 10px;
    gap: 25px 10px;
    .item {
      label{
        background: #fff;
      }
    }
  }
}
.product-details-section {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 15px;
  padding: 20px 0;
  .item {
      border: 1px solid vars.$fieldBorderColor;
      display: flex;
      flex-direction: column;
      padding: 10px 20px;
      position: relative;
      border-radius: 30px;
      min-width: 190px;
      label{
          color: vars.$primary-color;
          font-size: 10px;
          font-weight: 500;
          position: absolute;
          margin-top: -18px;
          margin-left: -5px;
          background: #f5f6fa;
          white-space: nowrap;
          padding: 0 5px;
      }   
      span{
          font-size: 12px;
          color: vars.$fontclr;
      }
  }
}


.products-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  .product-item{
      background: #fff;
      border-radius: 10px;
      padding: 10px;
      min-width: 200px;
      .header{
          display: flex;
          align-items: center;
          justify-content: space-between;
          .title{
            display: flex;
            align-items: center;
          }
          .icon{
              width: 30px;
              height: 30px;
              border-radius: 50%;
              background: vars.$primary-color;
              color: #fff;
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: 600;
              font-size: 14px;
              margin-right: 10px;
          }
          .title{
              font-size: 14px;
              margin: 0px;
              color: vars.$primary-color;
          }            
      }
      .content{
          display: flex;
          flex-direction: column;
          margin-top: 20px;
          span{
              font-size: 11px;
              color: vars.$fontclr;
          }
      }
      &.item-selection:hover{
          background: vars.$primary-color;
          cursor: pointer;
          .header{
              .icon{
                  color: #fff;
                  background: vars.$primary-light;
              }
              .title{
                  color: #fff;
              }
          }
          .content{
              span{
                  color: #fff;
              }
          }
      }
  }
}

.products-container{
  width: 100%;
}
.radioButtonGroup{
  display: flex;
  margin-bottom: 20px;
  .field-radioBtn{
    label{
      color: vars.$fontclr;
      margin-left: 5px;
      font-size: 12px;
    }
  }
}
.checkbox-group{
  display: flex;
  flex-direction: column;
  .checkboxParentGroup{
    display: flex;
  }  
  .checkBoxChildGroup{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    border: 1px solid vars.$cardBorderColor;
    border-radius: 4px;
    padding: 15px;
    margin-top: 15px;
    position: relative;
    .field-checkbox{
      width: 25%;
    }
    .title{
      position: absolute;
      top: -10px;
      font-size: 14px;
      color: vars.$titleClr;
      @include vars.fontFamilySecondary;
      font-weight: 600;
      background: #fff;
      padding: 0 5px;
    }
  }
  .show-in-row{
    flex-direction: row;
    gap: 15px 25px;
    flex-wrap: wrap;
  }
}

.testCasesAccordian{
  .p-accordion{
    .p-accordion-tab {
      margin-bottom: 10px;
      .p-accordion-header:not(.p-disabled){
        .p-accordion-header-link{
          width: 30%;
          background: #fff;
          color: vars.$titleClr;
          border: 0px;
          padding: 12px 15px;
          border-radius: 30px;
          font-weight: 600;
          font-size: 14px;
          @include vars.fontFamilySecondary;
          .pi{
            font-size: 14px;
          }
          &:focus{
            outline: 0px;
            box-shadow: none;
          }
        }
        &:hover,
        &.p-highlight{
          .p-accordion-header-link{
            background: vars.$primary-color;
            color: #fff;
            box-shadow: vars.$primary-box-shoadow;
          }
        }
      }
      .p-toggleable-content {
        .p-accordion-content {
          border: 0px;
          border-radius: 0px 10px 10px 10px;
          margin-top: -20px;
          padding: 40px 15px 15px;
          background: vars.$body-bg-dark;
          .mainTitle {
            font-size: 14px;
            color: vars.$titleClr;
            font-weight: 600;
            margin-bottom: 10px;
            @include vars.fontFamilySecondary;
          }
          .testCaseCard {
            background: #fff;
            border: 0px;
            padding: 0px 5px 20px;
            margin-bottom: 20px;
            .testCaseCard-header{
              border-bottom: 1px solid vars.$border;
              padding: 15px 10px;
              font-size: 14px;
              color: vars.$titleClr;
              font-weight: 600;
              margin-bottom: 15px;
              @include vars.fontFamilySecondary;
            }
            .card-container {
              padding:0 10px;
              max-height: 300px;
              overflow-x: auto;
              .title {
                margin-top: 0px;
                margin-bottom: 10px;
                font-size: 14px;
                @include vars.fontFamilySecondary;
              }
              .subTitle{
                font-size: 13px;
                margin-top: 0px;
                color: vars.$fontclr;
                @include vars.fontFamilySecondary;
              }
              .steps {
                .list {
                  padding-left: 30px;
                  margin-top: 0px;
                  li {
                    font-size: 12px;
                    color: vars.$fontclr;
                    @include vars.fontFamilyPrimary;
                  }
                }                
              }
              .markdownContainer{
                padding: 0px;
                margin-bottom: 30px;
              }
            }
          }
        }
      }
    }
  }
}

.filterField{
  .icon{
    z-index: 1;
    font-size: 12px;
    margin-top: -5.5px;
  }
  &.p-float-label {
    .p-inputwrapper-focus ~ label,
    .p-inputwrapper-filled ~ label{
      background: vars.$primary-color;
      color: #fff;
      font-size: 11px;
      left: 24px;
      padding: 2px 5px;
    }
    .p-inputwrapper-focus ~ .icon,
    .p-inputwrapper-filled ~ .icon{
      color: vars.$primary-color;
    }
    label{
      font-size: 12px;
      font-weight: 600;
      margin-top: -6px;      
      border-radius: 30px;
    } 
    &.p-input-icon-left{
      left: 24px;
    }
  }
  .p-dropdown{
    border-radius: 30px;
    border: 1px solid vars.$cardBorderColor;
    height: 31px;
    align-items: center;
    .p-dropdown-label{
      min-width: 130px;
      font-size: 13px;
      padding-left: 30px;
      padding-top: 1px;
      padding-bottom: 1px;
    }
    &:not(.p-disabled).p-focus {
      box-shadow: none !important;
      outline: 0px;
      border-color: vars.$primary-color;
    }
    &:not(.p-disabled).p-focus,
    &:not(.p-disabled):hover {
      border-color: vars.$primary-color;
    }
    &:not(.p-disabled):hover ~ .icon {
      color: vars.$primary-color;
    }    
  }    
}

.filtersSection{
  display: flex;
  gap: 10px;
  align-items: center;
  padding-right:35px;
  p-columnfilter{
    .p-column-filter-menu-button,
    .p-column-filter-clear-button{
      display: none;
    }
  }
}

.productDetailTabs{
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  .p-tabview{
    .p-tabview-nav-container{
      .p-tabview-nav-content{
        border-radius: 5px 5px 0 0;
        .p-tabview-nav{
          li{
            .p-tabview-nav-link{
              padding: 12px 20px;
              font-size: 12px;
              font-weight: 600;
              color: vars.$titleClr;
              @include vars.fontFamilySecondary;
              &:focus{
                outline: 0px;
                box-shadow: none;
              }
            }
            &.p-highlight,
            &:focus{
              .p-tabview-nav-link{
                color: vars.$primary-color;
              }
            }
          }
          .p-tabview-ink-bar{
            background: vars.$primary-color;
          }
        }
      }
    }
  }
}

.p-scrollpanel {
  &.menu-scrollbar-panel{
    .p-scrollpanel-wrapper {
      border-right: 5px solid transparent;
    }

    .p-scrollpanel-bar {
        background-color: vars.$primary-color;
        opacity: 1;
        transition: background-color .2s;
        &.p-scrollpanel-bar-y{
          width: 5px
        }
        &:hover {
            background-color: vars.$primary-dark;
        }
    }
  }
}

.p-error{
  font-size: 11px;
}
.invalid-feedback{
  padding-left: 20px;
}

.customDatePicker{
  .p-calendar{
    .p-datepicker-trigger{
      position: absolute;
      right: 3px;
      top: 3px;
      border-radius: 50%;
      width: 34px;
      height: 34px;
      background: vars.$primary-color;
      box-shadow: vars.$primary-box-shoadow;
      border: 1px solid vars.$primary-color;
      &:focus{
        outline: none;
      }
    }
  }
  .p-datepicker{
    .p-datepicker-group-container{
      .p-datepicker-group{
        .p-datepicker-header{
          padding: 0px 0px 0px;
          .p-datepicker-prev,
          .p-datepicker-next{
            width: 25px;
            height: 25px;
          }
        }
        .p-datepicker-calendar-container{
          table.p-datepicker-calendar{
            margin: 0px;
            th {
              span{
                width: 25px;
                height: 25px;
                font-size: 13px;
                font-weight: 700;
              }
            }
            td {
              padding: 5px;
              text-transform: capitalize;
              span{
                width: 25px;
                height: 25px;
                font-size: 13px;
                font-weight: 400;
              }
            } 
          }
        }
      }
    }
  }
}