<div class="page-container-header">
    <div class="title-section">
            <button class="backBtn" [routerLink]="backUrl" [disabled]="backUrl.length == 0">
                <span class="material-symbols-rounded">arrow_back</span>
            </button>
            <div class="title-container">
                <h1 class="title" *ngIf="productSubCategory">
                    {{productSubCategory.sub_category}}   
                </h1>
                <h2 class="sub-title">
                    <span *ngIf="productSubCategory">{{productSubCategory.category_name}}</span>
                    <span *ngIf="productSubCategory"><i class="icofont-simple-right"></i></span>
                    <span *ngIf="productSubCategory">{{productSubCategory.sub_category}}</span>
                </h2>
            </div>
    </div>
    
    <div class="header-right-section">
        <!-- <button class="btn" (click)="generateTestCases()">Generate Test Cases</button> -->
    </div>
</div>
<ul class="breadcrumb">
    <li *ngFor="let item of breadcrumblist">
        <button class="btn home" *ngIf="item.name == 'Home'" [routerLink]="item.url" [disabled]="item.disabled"> 
            <i class="material-symbols-rounded">home</i> 
        </button>
        <button class="btn" *ngIf="item.name !== 'Home'" [routerLink]="item.url" [disabled]="item.disabled"> {{item.name}} </button>
    </li>    
    <!-- <li><button class="btn" disabled> Devices </button></li> -->
</ul>

<div class="content-wrapper">
    <!-- <h1 class="main-title">Add New Product</h1> -->

    <h1 class="main-title">
        Details
    </h1>
    
    <div class="product-details-section" *ngIf="productSubCategory">
        
        <div class="item">
            <label>Category</label>
            <span>{{productSubCategory.category_name}}</span>
        </div>
        <div class="item">
            <label>Sub Category</label>
            <span>{{productSubCategory.sub_category}}</span>
        </div>
        <div class="item">
            <label>Customer Name</label>
            <span>{{productSubCategory.customer_name}}</span>
        </div>
        <div class="item">
            <label>Last Updated At</label>
            <span>{{productSubCategory.last_updated_at}}</span>
        </div>
        <div class="item">
            <label>Valid Till</label>
            <span>{{productSubCategory.valid_till}}</span>
        </div>
        <div class="item">
            <label>Description</label>
            <span>{{productSubCategory.description}}</span>
        </div>
        <div class="item">
            <label>Comments</label>
            <span>{{productSubCategory.comments}}</span>
        </div>
    </div>

    <div class="header-with-btns">
        <div class="title-section">
            <h1 class="main-title">Product List</h1>
        </div>
        <div class="right-section">
            <button class="btn primary-btn">
                <span class="material-symbols-rounded icon">add</span>
                Add New Product
            </button>
            <button class="btn primary-btn">
                <span class="material-symbols-rounded icon">attach_file</span>
                Upload Products
            </button>
        </div>
    </div>
    
    <!-- <div class="card">
        <form [formGroup]="productsForm" class="form-container">
            <div class="field p-float-label">
                <input id="float-input-1" formControlName="deviceName" type="text" pInputText> 
                <label for="float-input-1">Device Name</label>
            </div>
            <div class="field p-float-label">
                <input id="float-input-4" formControlName="series" type="text" pInputText> 
                <label for="float-input-4">Series</label>
            </div>
            <div class="field p-float-label">
                <input id="float-input-2" formControlName="customer" type="text" pInputText> 
                <label for="float-input-2">Customer</label>
            </div>
            <div class="field p-float-label">
                <input id="float-input-3" formControlName="validTill" type="text" pInputText> 
                <label for="float-input-3">Valid Till</label>
            </div>            
            <div class="field p-float-label">
                <input id="float-input-5" formControlName="comments" type="text" pInputText> 
                <label for="float-input-5">Comments</label>
            </div>
            <div class="field p-float-label">
                <input id="float-input-6" formControlName="description" type="text" pInputText> 
                <label for="float-input-6">Description</label>
            </div>  
        </form>      
        <div class="card-actions">
            <button class="btn primary-btn" (click)="addProduct()">
                <span class="material-symbols-rounded icon">add</span>
                Add
            </button>
        </div> 
    </div> -->

    <div class="content-loader" *ngIf="productsLoader">
        <i class="pi pi-spin pi-spinner"></i>
        <span>Loading Products...</span>
    </div>

    <div class="products-container" *ngIf="!productsLoader">
        <p-menu #deviceActionMenu [popup]="true" [model]="deviceActionMenuItems"></p-menu>
        <div class="products-wrapper">
            <div class="product-item" *ngFor="let item of productsData">
                <div class="header">
                    <div class="title">
                        <div class="icon">{{item.product_code.slice(0, 1)}}</div>
                        <h2 class="title">{{item.product_code}}</h2>
                    </div>
                    <div class="right-section">
                        <button class="deviceActionsBtn" (click)="deviceActionMenu.toggle($event); seDeciveActionMenu(item)"><i class="material-symbols-rounded"> more_vert</i></button>
                    </div>
                </div>
                <div class="content">
                    <span>ID: <b>{{item.id}}</b></span>
                    <span>Valid Till: <b>{{item.valid_till}}</b></span>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="table-container mt-30 mb-30" *ngIf="!productsLoader">
        <p-table #productsTable class="selectableTable" [value]="productsData" [globalFilterFields]="['deviceName','series','customer', 'validTill', 'comments', 'description']">
            <ng-template pTemplate="caption">
                <div class="table-title-with-search">
                    <div class="title">Products List<div class="count">{{productsData.length}}</div></div>
                    <div class="right-section">   
                        <div class="search-box">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter (input)="productsTable.filterGlobal(filter.value, 'contains')" placeholder="Search" />
                        </div>
                    </div>
                </div>                
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                  
                    <th>Device Name</th>
                    <th>Series</th>
                    <th>Customer</th>
                    <th>Valid till</th>
                    <th>Comments</th>
                    <th>Description</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{product.product_code}}</td>
                    <td>{{product.series}}</td>
                    <td>{{product.customer}}</td>
                    <td>{{product.validTill}}</td>
                    <td>{{product.comments}}</td>
                    <td>{{product.description}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div> -->
</div>

<!-- <div class="pageActions">
    <button class="btn secondary-btn">Cancel</button>
    <button class="btn primary-btn">Submit</button>
</div> -->

